nav{
    background-color: rgb(4, 46, 46);
}
.navComponent{
    margin: 10px 10px;
    color: #fff;
    font-weight: 500;
}
.brand{
    color: #fff;
    font-weight: 500;
    font-size: 26px;

}
.brand:hover{
    text-decoration: none;
}
.navButton{
    background: #209e00;
    padding: 0px 19px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    height: 37px;
    margin-top: 4px;
    font-weight: 500;
}
.userName{
    color: #eee2d7;
    margin-top: 5px;
    text-decoration: none;

}
.userName:hover{
    text-decoration: none;
}
